h2 Budget-Tracker
.box
	dt
		h3 Bank balance
	dd
		form#bank
			table.bank.action
				tbody
					tr
						td.label Name:
						td
							input(name="name")
							input(type="hidden", name="origin", value="")
							input(type="hidden", name="action", value="add")
					tr
						td.label Balance:
						td
							input(name="balance")
					tr
						td.final(colspan="2")
							input(name="submit", type="submit", value="Save")
		- if (bank.length)
			table.bank.browse
				thead
					tr
						th Name
						th Balance
				tbody
					- bank.forEach(function(account) {
					tr
						td= account.name
						td.numeric= account.balance
						td 
							button.change Change
						td
							button.delete Delete
							input(type="hidden", name="name",    value: account.name)
							input(type="hidden", name="origin",  value: account.name)
							input(type="hidden", name="action",  value="")
							input(type="hidden", name="balance", value: account.balance)
							input(type="hidden", name="id",      value: account._id)
					- })

.box
	dl
		dt
			h3 Income and Expenses
		dd
			form#expense
			table
				tbody
					tr
						td Type?
						td
							select
								option(value="expense")
									| Expense
								option(value="income")
									| Income
					tr
						td Title
						td
							input(name="title")
							input(name="action", value="add", type="hidden")
					tr
						td Amount
						td
							input(name="amount")
					tr
						td Frequency
						td
							select
								option(value="once-off")
									| Once Off
								option(value="weekdays")
									| Weekdays

