body {
	background-color: #E3E8F2;
	font-family: sans-serif;
	/*font-size: 10pt;*/
}

div.body {
	background-color: #CCD9F2;
	color: #325FBA;
	margin: 0 auto;
	padding: 3px 20px 20px 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #EFF2F6;
	border-radius: 5px;
	width: 800px;
}

div.box {
	border-style: solid;
	border-width: 3px;
	border-color: #EFF2F6;
	border-radius: 5px;
	padding: 0 20px 0px 20px;
	margin: 15px 0 0 0;
}

div.box dd {
	padding: 0 0 20px 0;
}

table {
	background-color: #F0EAAF;
	border-color: #EFF2F6;
	border-width: 3px;
	border-style: solid;
	color: #393300;
	margin: 15px 0 0 0;
	padding: 10px;
}

table.action {
	padding-top: 15px;
}

table.browse {
	padding-top: 5px;
}

table.browse th {
	border-width: 0 0 3px 0;
	border-style: solid;
	border-color: white;
}

table.td {
}

table.action td, table.action th {
	padding: 2px 1px
}
table.browse td, table.browse th {
	padding: 2px 8px
}

div.register-box {
	float: left;
	padding: 3px 10px 0 0
}

div.register-box input {
	margin-right: 10px;
}

div.help-text {
	padding: 15px 3px 3px 3px;
	width: 500px;
}

dd div.help-text {
	margin: -40px 3px 3px 3px;
	width: 400px;
}

div#signon {
	background-color: #AFC4EF;
	color: #325FBA;
}

div#expense {
	background-color: #DDAFF0;
	color: #520076;
}

div#bank {
	background-color: #F0C4AE;
	color: #832C00;
}

div#totals {
	background-color: #AFF0BE;
	color: #00A125;
}

div#totals dd {
	min-height: 150px;
}

div.expander {
	padding-right: 10px;
}

.bigger {
	font-size: 200%;
}

.tagline {
	font-size: 110%;
}

.smaller {
	font-size: 90%;
}

.numeric {
	text-align: right;
	padding-right: 2px;
}

.negative {
	color: red;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

td.label {
	text-align: right;
}

td.final {
	text-align: right;
}

dd {
	margin-left: 0;
}

h2 {
	font-weight: normal;
}
